php_value post_max_size 200M
php_value upload_max_filesize 200M

AddType video/webm .webm
AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/mp4 .m4v


RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php